* {
  scroll-behavior: smooth !important;
}
/*===========================WEBKIT-SCROLLBAR=======================*/
::-webkit-scrollbar-thumb {
  background: #03045e;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ============================= BACK TO TOP ============================= */
.backToTop_animate {
  -webkit-animation: mover 3000ms infinite ease-in-out !important;
  animation: mover 3000ms infinite ease-in-out !important;
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (min-width:1200px) {
  .custom_container {
    @apply max-w-[1162px]
  }
}